<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="message-board">
      <br>
      <% messages.forEach((message)=> {%>
        <p><%= `${message.user_name}`%>: <%= `${message.message}`%></p>
        <p><%= `${message.date}`%></p>
        <br>
      <%});%>
    </div>
    <p><a href="/form" role = "button">Add message</a></p>
  </body>
</html>
